body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 120px;
}

input {
    width: 350px;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 12px 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #22c55e;
    border: none;
    border-radius: 5px;
}

h2 {
    margin-top: 20px;
}
